<h3>Name:
    <%=result.name %>
</h3>
<h3>Description:
    <%=result.description %>
</h3>
<!-- <h3>time:
    <%=result.time %>
</h3> -->
<h3>Name:
    <%=result.category %>
</h3>
<h3>Name:
    <%=result.minbid %>
</h3>
<!-- <h3>
    Image:
    <img src="../public/uploads/<%=result.image %>" alt="Product Image" />
</h3> -->
<div>
    <form action="/gallery" method="GET">
        <button>View Products</button>
    </form>
</div>